.control-button {
  width: 60px;
  height: 60px;
  font-size: 25px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 5px;
}

.control-button:active {
  background-color: lightgray;
}

.controls {
  margin-top: 20px;
  text-align: center;
}

.control-row {
  display: flex;
  justify-content: center;
}